

.navbar{
    display: flex;
    justify-content: space-between;
    margin : 0 15px;
    font-family: cursive;

    button{
        padding: 8px 12px;
        letter-spacing: 1px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
    .outline{
        border-color: #007BFF;
        background: none;
        color: gray;
        font-weight: 400;
    }
    .contain{
        border:none;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: #007BFF;
        color: white;
    } 
    .contain:hover{
        opacity: 0.85;
    }

    .logo{
        font-family: cursive;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        img{
            height:30px;
            width:30px;
        }
        h1{
            color: #1b52a4;
        }
    }
    .left  {
        display: flex;
        align-items: center;
         gap: 20px;
          a {
            text-decoration: none;
            font-size: 18px;
            color: black;
        } a:hover{
            text-decoration: underline;
        }
    }
}